@{
    Layout = null;
}

<link href="~/Content/DevirGrid/DevirGrid.css" rel="stylesheet" />

<div id="DropdownFiltr">
    @if (ViewBag.documentDynamicFieldFiltration != null)
    {
        if (((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).Options.Count() > 0)
        {
            <div>@(((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).FiledName) @Html.DropDownList("DynamicFIlterField", ((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).Options)</div>
        }
    }
</div>
<div id="DocumentsByTypeGrid">

    <div id="gridHeader">
        <table class="table borderless table-condensed" data-bind="with: DocumentsByTypeViewModel">
            <tr>
                <td style="width: 32px; "><img src="~/Content/excel.png" style="width:22px; cursor: pointer; height:22px;" data-bind="click: getDataForExport" /></td>


                <!--ko if: $root.canViewNumber -->
                <td style="width: 130px;  ">
                    <span class="GridHeaderActive" onclick="sortAndGroup(this, 'DocumentNumber', 'gNumber')">НОМЕР <i></i></span>
                </td>
                <!--/ko-->

                <td style="width: 250px; ">
                    <span class="GridHeaderActive" onclick="sortAndGroup(this, 'Author.Name', 'AuthorName')">АВТОР ДОКУМЕНТА <i></i></span>
                </td>

                <td style="width: 250px; ">
                    <span class="GridHeaderActive" onclick="sortAndGroup(this, 'CurrentStageCalcualted', 'CurrentStage')">ТЕКУЩАЯ СТАДИЯ <i></i></span>
                </td>
                @if (ViewBag.documentDynamicFieldFiltration != null)
            {
                <td style="width: 250px; ">
                    <span id="span_dynamicField" class="GridHeaderActive"></span>
                </td>
            }
                <td style="vertical-align: middle;">
                    <span class="GridHeaderActive" onclick="sortAndGroup(this, '', 'gDate')">ДАТА ПОСТУПЛЕНИЯ <i></i></span>
                </td>


            </tr>
        </table>
    </div>


    <div id="GridContainer" style="width:100%;  overflow:auto;">
        <div style="height: 100%;">
            <ul>
                <!-- ko foreach: RawData -->
                <!-- ko ifnot: Group()==''-->
                <li data-bind="click: $parent.showHideGroup">
                    <div class="gridGroup">

                        <!-- ko if: Visible -->
                        <i class="icon-play-circle rotated90"></i>
                        <!-- /ko-->
                        <!-- ko if: !Visible() -->
                        <i class="icon-play-circle"></i>
                        <!-- /ko-->
                        &nbsp;&nbsp;<span data-bind="text: Group"></span>

                    </div>
                </li>
                <!-- /ko -->
                <!-- ko if: Visible -->
                <!-- ko foreach: Values-->
                <li class="gridRow" data-bind="click: $root.clickRow">

                    <table class="table borderless table-condensed">
                        <tr>
                            <td rowspan="2" style="width: 36px; vertical-align: middle; padding:0px; margin:0px;">
                                <!--ko if: isNew-->
                                <div id="gridBadInstructionsCount" class="label" style="background-color: #66CC66;">Новое</div>
                                <!--/ko-->
                                <!--ko if: isUrgent-->
                                <div id="gridBadInstructionsCount" class="label" style="background-color: #ff6a00;">Срочно</div>
                                <!--/ko-->
                            </td>

                            <!--ko if: $root.canViewNumber-->
                            <td rowspan="2" style="width: 130px; vertical-align: middle; font-size: medium; padding-left:10px;">
                                <span data-bind="text: Number"></span>
                            </td>
                            <!--/ko-->

                            <td style="width: 250px;">
                                <span data-bind="text: AuthorName"></span>
                            </td>
                            <td style="width: 250px; text-align: left;">
                                <span data-bind="text: CurrentStage"></span>
                            </td>

                            @if (ViewBag.documentDynamicFieldFiltration != null)
                            {
                            <td style="width: 250px; text-align: left;">
                                <span data-bind="text: AddColumn"></span>
                            </td>
                            }


                            <td rowspan="2" style="vertical-align:middle;">
                                <b><span data-bind="text: sDate"></span></b>
                            </td>

                            <!--ko if: docStateColor()==4-->
                            <td rowspan="2" style="width: 5px; background-color: #ffaeae;"></td>
                            <!--/ko-->
                            <!--ko if: docStateColor()==3-->
                            <td rowspan="2" style="width: 5px; background-color: #fdee99;"></td>
                            <!--/ko-->
                            <!--ko if: docStateColor()==2-->
                            <td rowspan="2" style="width: 5px; background-color: #5f7cff;"></td>
                            <!--/ko-->
                            <!--ko if: docStateColor()==1-->
                            <td rowspan="2" style="width: 5px; background-color: #66CC66;"></td>
                            <!--/ko-->

                        </tr>
                        <tr>
                            <td colspan="3" style="color: #a8a8a8; font: small; font-size: 0.95em; text-decoration: none; text-shadow: 0 1px 0 #FFFFFF;">
                                <span data-bind="text: Header"></span>
                            </td>
                        </tr>
                    </table>

                </li>
                <!-- /ko-->
                <!-- /ko-->
                <!-- /ko -->
            </ul>

            <div id="GridLoader" data-bind="visible: working">
                <img src="~/Content/DevirGrid/preloader.gif" />
            </div>
        </div>
    </div>

    <div style="display: none" id="exportExcell">
        <table>
            <thead>
                <tr>
                    <th>
                        Номер:
                    </th>
                    <th>
                        Автор
                    </th>
                    <th>
                        Стадия
                    </th>
                    <th>
                        Доп. инфо.
                    </th>
                    <th>
                        Дата
                    </th>
                    <th>
                        Краткое содержание
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: RawDataExport -->
                <!-- ko foreach: Values-->
                <tr><td><span data-bind="text: Number"></span></td><td><span data-bind="text: AuthorName"></span></td><td><span data-bind="text: CurrentStage"></span></td><td><span data-bind="text: AddColumn"></span></td><td><span data-bind="text: sDate"></span></td><td><span data-bind="text: Header"></span></td></tr>
                <!-- /ko -->
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>



<script>

    var docType = '@ViewBag.DocType';
    var idToDynamicFieldFilter = $('#DynamicFIlterField').val() == undefined ? "00000000-0000-0000-0000-000000000000" : $('#DynamicFIlterField').val();
    var dynamicColumnHeader = '@Html.Raw(ViewBag.documentDynamicFieldFiltration != null ? ((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).FiledName : null)';
    @*var AddColumn = '@Html.Raw((ViewBag.documentDynamicFieldFiltration != null ? ViewBag.documentDynamicFieldFiltration : String.Empty))';*@

    var dynamicColumnHeader2 = dynamicColumnHeader.toUpperCase().replace(/^(.*?):*$/, '$1'); //replace - убираем двоеточие

    $('#span_dynamicField').text(dynamicColumnHeader2);
    $('#span_dynamicField').append('<i></i>');
    $('#span_dynamicField').click(function () {
        sortAndGroup($(this), 'DynamicFiltrationFieldValue', 'AddColumn');
    });

</script>

<script src="~/Scripts/GridSystem/Documents/DocumentsByTypeVM.js"></script>










