@{
    Layout = null;
}
<script>

    var docsList = "#docsList";
    var getData = 'GetDocumentsByType?docType=' + "@ViewBag.DocType";
        var mtype = 'POST';
        var cn = ['Время', 'Номер', 'Заголовок', 'Этап', 'Дата создания', 'ИД', 'Классы' @Html.Raw((ViewBag.documentDynamicFieldFiltration != null?", '"+((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).FiledName+"'":String.Empty))];
        var cm = [
            { name: 'CreateTime', index: 'DocumentViewers.{UserId}.Time', formatter: timeFormatter },
            { name: 'DocumentNumber', index: 'DocumentNumber', sortable: true },
            { name: 'Header', index: 'Header' },
            { name: 'Stage', index: 'Stages' },
            { name: 'CreateDate', index: 'CreateDate', formatter: documentDateFormatter },
            { name: 'Id', index: 'Id', hidden: true, key: true },
            { name: 'Classes', index: 'Classes', hidden: true }
            @Html.Raw((ViewBag.documentDynamicFieldFiltration != null?", { name: 'AddColumn', index: 'AddColumn'}":String.Empty))
        ];

        $(docsList).attr("gridType", "@ViewBag.DocType");
    var serializeGridData = function (postdata) {
        postdata.owner = $("#navOwner li.active").attr('id');
        postdata.period = $("#periodSelect li.selected").attr('id');
        postdata.searchText = $("#pdpSearch").val();
        postdata.idToDynamicFieldFilter = $('#DynamicFIlterField').val() == undefined ? "00000000-0000-0000-0000-000000000000" : $('#DynamicFIlterField').val();
        return postdata;
    };
    var gridComplete = function (data) {
        var userdata = $(docsList).getGridParam("userData");
        RefreshDocumentsCount(userdata);
        SetGridWidth("#container");
    };
        jqGridGroupTable(docsList,
                    getData,
                    '',
                    '',
                    '',
                    cn,
                    cm,
                    "CreateDate",
                    true,
                    "DocumentViewers.{UserId}.Time",
                    "desc",
                    10000,
                    1,
                    serializeGridData,
                    gridComplete);
        //HideColumnNames(docsList);

        $(docsList).jqGrid('setGridParam', {
            
            onCellSelect: function (rowid, iRow, iCol, e) {
                window.location = "GetDocument?DocumentId=" + rowid;
            }
        });
        $("#navOwner li").click(function () {
            $(docsList).trigger("reloadGrid");
        });
</script>


<div>

    <div id="container">
        @if( ViewBag.documentDynamicFieldFiltration != null)
        {
            if (((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).Options.Count()>0)
            {
       <div>@(((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).FiledName) @Html.DropDownList("DynamicFIlterField", ((Devir.DMS.Web.Models.Document.DocumentDynamicFieldFiltration)ViewBag.documentDynamicFieldFiltration).Options)</div> 
        }
        }
        <table id="docsList" class="table table-bordered table-condensed table-hover reloadableGrid" gridtype="All" />
    </div>
</div>

<script>
    $('#DynamicFIlterField').change(function () {
        $(docsList).trigger("reloadGrid");
    });
</script>
