@model List<Devir.DMS.DL.Models.FileStorage.FileStorage>
    @{
        ViewBag.Title = "Результат загрузки файлов:";
        Layout = null;
    }

    <script>

        $(document).ready(function () {
            RecalculateIndexes();
        });

    </script>

    @foreach (var fileStorage in Model)
    {
        <div style="border-bottom: 1px solid #EEEEEE;" class="row-fluid uploadedFile">
            <div class="span4" style="height: 50px; width: 50px">
                @if (fileStorage.MimeType.Icon == null)
                {
                    <a href="@Url.Action("DownloadFile", "File", new { guid = fileStorage.Id })">
                        <img src="/File/GetScanedImage?guid=@fileStorage.Id" />
                    </a>
                }
                else
                {
                    if (fileStorage.PDFVersion != MongoDB.Bson.ObjectId.Empty)
                    {
                        <a style="cursor:pointer;" onclick="ShowPDFFile('@fileStorage.Id');">
                            <img src="@Url.Action("ShowIcon", "File", new { guid = fileStorage.MimeType.Id })" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("DownloadFile", "File", new { guid = fileStorage.Id })">
                            <img src="@Url.Action("ShowIcon", "File", new { guid = fileStorage.MimeType.Id })" />
                        </a>
                    }
                }
            </div>
            <div class="span4">
                <a href="@Url.Action("DownloadFile", "File", new { guid = fileStorage.Id })">
                    @fileStorage.FileName
                </a>
            </div>
            <div class="span4">
                <label style="font-weight: bold">Комментарий:</label>
                @fileStorage.Description
            </div>

            <input type="hidden" name="" value="@fileStorage.Id.ToString()" />
            @if ((bool)ViewBag.isAdd)
            {
            <a style="margin: 5px 15px; float: left;" class="btn" href="#" id="btnRemoveFile">
                <i class="icon-trash"></i>
            </a>
            }
        </div>
    }

